# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project-specific
.env
.envrc
source_data/scraped_images/
ImageExtraction/testdata/_debug/
ImageExtraction/testdata/_*.csv
ImageExtraction/images/
ImageExtraction/out/
griffin_nathan_finalproject_draftcode/
source_data\video_samples\ProfessionalMic\*.webm
source_data\video_samples\ProfessionalMic\*.mkv
source_data\video_samples\YoutubeLivestream\*.webm
source_data\video_samples\YoutubeLivestream\*.mkv